body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.header_des {
    font-size: 24px;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container {
    max-width: 1000px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.des {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    width:800px;
    
}

.des-1 {
    margin-right: 20px;
    width: 200px;
    text-align: justify;
    font-weight: bold;
}

.des-2 {
    flex: 1;
    text-align: justify;
    line-height: 1.5; 
    margin-bottom: 1rem;
    width:600px; 
}

.avatar-container {
    margin-left: 10px;
    width: 150px;
    height: 220px;
    border-radius: 5%;
    overflow: hidden;
}

.avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 



   
   /* 螢幕寬度 1250px - 500px 之間 */
   @media screen and (max-width: 1249px) and (min-width: 500px) {
    .container {
      max-width: 800px;
    }
   
    .des {
      width: 100%;
     
    }
   
    .des-2 {
      width: calc(100% - 220px);
    }
   }
   
   /* 螢幕寬度 500px 以下 */
   @media screen and (max-width: 499px) {
    .container {
      max-width: 100%;
      padding: 10px;
    }
   
    .des {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
   
    .des-1 {
      width: 100%;
      margin-bottom: 10px;
    }
   
    .des-2 {
      width: 100%;
    }
   
    .avatar-container {
      display:none;
    }
   }
